
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: block;
  
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  transition: 0.4s;
}
/*lua*/
.slider:before {
  position: absolute;
  content: "";
  height: 40px;
  width: 40px;
  left: 0px;
  bottom: 4px;
  top: 0;
  bottom: 0;
  margin: auto 0;
  transition: 0.4s;
  background: var(--fundo) url('https://i.ibb.co/FxzBYR9/night.png');
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 2rem;
}



input:checked + .slider:before {
  background:var(--verde) url('https://i.ibb.co/7JfqXxB/sunny.png');

  background-repeat: no-repeat;
  background-position: center;
  border-radius: 2rem;
}


