
@media screen and (min-width:0) {
    .midias{
        font-size: 1.2rem;
        padding: 2%;
        margin-top: 1rem;
        text-align: center;
        margin-left: 5rem;
    }
    .links{
        padding: 2rem;
    }
    .midias-links{
        color: var(--branco);
        text-decoration: none;
        text-transform: uppercase;
        padding: 2%;
       
    }
}
@media screen and (min-width:768px) {
    .midias{
        font-size: 20px;
        padding: 2%;
        margin-top: 1rem;
        text-align: center;
        margin-left: 2rem;
    }
    .links{
        padding: 1%;
    }
    .midias-links{
        color: var(--branco);
        text-decoration: none;
        text-transform: uppercase;
        padding: 2%;
       
    }
}
@media screen and (min-width:1024px) {
    .midias{
        font-size: 20px;
        padding: 3rem;
        margin-top: 1rem;
        align-items: center;
    }
    .links-nomes{
        margin: 1rem;
    }
    .links{
        padding: 1%;
    }
    .midias-links{
        color: var(--branco);
        text-decoration: none;
        text-transform: uppercase;
        padding: 2%;
       
    }
    .midias a:hover{
        text-decoration: none;
        color: var(--laranja);
    }
  
}