.navbar{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: var(--verde);
    color: var(--branco);
}
.navbar h2{
    font-size: 2rem;
    padding: 1rem;
    font-family: 'Italiana';
}

@media screen and (min-width:768px) {
    .navbar h2{
        font-size: 3rem;
        text-align: center;
    }
}
/*PERFEITO*/
@media screen and (min-width: 1024px) {
    .navbar h2{ 
        margin-top: 1rem;
    }
   
}