
.rodape{
    display: block;
    align-items: center;
    background-color: var(--green);
    padding: 1.5rem;
}
.redes-sociais{
    display: flex;
    justify-content: space-around;
    
}
.redes-sociais a img{
    width: 2.5rem;
}
.rodape p{
    color: var(--branco);
    text-align: center;
    margin: 2rem;
}


@media screen and (min-width:1024px) {
    .rodape{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 1rem;
        
    }
    .redes-sociais a img{
        width: 2.5rem;
        margin-left: 1rem;
    }
   
}