@media screen and (min-width:0) {
    .sobre-mim{
        font-size: 2.5rem;
        text-align: justify;
        padding: 1rem;
        background-color: #eb6f39;
        width: 100%;
        text-align:justify;
        
    }
    .nome-sobre{
        color: var(--fundo);
        padding: 2rem;
        text-align: center;
        margin-left: 1rem;
        font-size: 2rem;
    }
    .paragrafo{
        font-size: 1.5rem;
        flex-direction: column;
    }
    #garota-programando{
        width: 25%;
        margin-left: 40%;
        
    }
}

@media screen and (min-width:768px) {
    .sobre-mim{
        font-size: 20px;
        text-align: center, justify;
        padding: 1rem;
        background-color: #eb6f39;
        width: 100%;
        text-align:justify;
        margin: 1rem 0 1rem 0;
    }
    .nome-sobre{
        color: var(--fundo);
        padding: 2rem;
        font-size: 3rem;
        text-align: center;
    }
    .paragrafo{
        font-size: 2.5rem;
    }
    #garota-programando{
        width: 30%;
        margin-left: 35%;
        
    }
}

@media screen and (min-width:1024px) {
    .nome-sobre{
        color: var(--fundo);
        padding: 2rem;
        font-size: 2rem;
        text-align: left;
        margin-left: 5rem;

    }
    .paragrafo{
        font-size: 1.5rem;
        text-align: right, justify;
        margin-left: 7rem;
        width: 75rem;
       
    }
    .sobre-mim{
        background-color: var(--claroL);
        margin-left: -0.9rem;
        border-radius: 3rem;
        
    }
    #garota-programando{
        width: 15%;
        margin-left: 78%;
        
    }
}