:root{
    --fundo: #171717;
    --branco:#E0D9D9;
    --verde: #497742;
    --green: rgba(51, 102, 39, 0.714);
}
@font-face {
    font-family: 'Italiana';
    src: url('../font/Italiana/Italiana-Regular.ttf');
}
@font-face {
    font-family: 'Sansita';
    src: url('../font/Sansita/Sansita-Regular.ttf');
}
html{
    
    font-style: normal;
    scroll-behavior: smooth;
    font-family: 'Sansita';
}
body{
    margin: 0 auto;
    overflow-x: hidden;
    background-color: var(--fundo);
}
body::-webkit-scrollbar{
    width: 10px;
}
body::-webkit-scrollbar-track{
    background-color: var(--fundo);
}
body::-webkit-scrollbar-thumb{
    background-color: var(--branco);
    border-radius: 5rem;
    border: none;
}


