:root{
    --fundo: #2b2b2b;
    --branco:#ffffff;
    --laranja:#FF5811;
    --claroL: #eb6f39;
}
html{
    background-color: var(--fundo);
    color: var(--branco);
    font-family: 'Alegreya Sans', sans-serif;
    font-family: 'Fredoka One', cursive;
    font-family: 'Gantari', sans-serif;
    overflow-x: hidden;
    width: 100%;
}
body::-webkit-scrollbar{
    width: 10px;
}
body::-webkit-scrollbar-track{
    background-color: var(--fundo);
}
body::-webkit-scrollbar-thumb{
    background-color: var(--claroL);
    border-radius: 5rem;
    border: none;
}


